<each loop="item in {{ list }}">
    <article class="project__card">
        <figure class="card">
            <img src="../assets/images/imageplachoder.png" alt="image" class="card-image">
            <figcaption class="card-desc">
                <p class="card-desc-first--title"> {{ item }}</p>
                <p class="card-desc-second--title subtitle">Short Description</p>
                <p class="card-desc-third--title subtitle">Cagetory</p>
            </figcaption>
        </figure>
    </article>
</each>
