@use '../abstracts/' as *;
/************* header *************/

.header-main{
    width: 100%;
    padding-left: 5%;
    @include bg-color($primary-color);
    &__top{
        padding-top: 5%;
        width: 100%;
        @include flex($align:center,$justify:space-around,$direction:row);
        .logo{
            width: 32px;
            height: 32px;
        }
        .header-main__logo{
            display: none;
        }
        .menu{
            .menu__contact{
                display: none;
            }
            .button__htw{
                display: none;
            }
            .getst{
                @include button($width:220px,$height:60px,$background-color:$button-color-primary,$border-radius:20px);
            }
        }
    }
}