<footer class="footer-main">
    <div class="container">
  
        <!-- Start footer social icons -->
        <div class="footer-main__social">
          <a href="javascript:void(0)" class="footer-main__icon">
            <img
              src="../assets/icons/ic-instagram.svg"
              alt="instagram icon"
              class="img-main"
            />
          </a>
          <a href="javascript:void(0)" class="footer-main__icon">
            <img
              src="../assets/icons/ic-dirbbble.svg"
              alt="dirbble plus icon"
              class="img-main"
            />
          </a>
          <a href="javascript:void(0)" class="footer-main__icon">
            <img
              src="../assets/icons/ic-github.svg"
              alt="github icon"
              class="img-main"
            />
          </a>
          <a href="javascript:void(0)" class="footer-main__icon">
            <img
              src="../assets/icons/ic-twitter.svg"
              alt="twitter icon"
              class="img-main"
            />
          </a>
        </div>
    </div>
  </footer>