<header class="header-main">
    <div class="container">
      <!-- Start of header-top -->
      <div class="header-main__top">
        <a class="header-main__logo">
            <img src="../assets/icons/ic-television.svg" alt="television" class="logo">
            <span class="logo__content"> <strong>Landing</strong>Page</span>
           </a>
        <div class="menu">
            <div class="menu__contact">
                <a href="#" class="contact__item">
                    Contact
                </a>
            </div>
            <button class="button__htw">
                <a href="#" class="htw__item">How it works</a>
            </button>
            <button class="getst">
                <a href="#" class="getst__link">Get Started <img src="../assets/icons/ic-arrow-right.svg" alt="arrow-right"class="arrow-right"></a>
            </button>
        </div>
      </div>
      <!-- End of header-top -->
      <!-- Start of header-bottom -->
      <div class="header-main__bottom">
        <!-- Start of header content -->
        <div class="header-main__content">
            <h1 class="header-main__title">Create Engaging Landing Pages</h1>
            <p class="header-main__desc">
                Build beautiful landing pages in record time with <a href="" class="desc__link">Anima</a>’s Landing Page UI kit for Figma. No code required!
            </p>
            <div class="header-main__button">
                <button class="button-getst"><img src="../assets/icons/ic-rocket.svg" alt="rocket" class="icon-getst">Get Started</button>
                <button class="button-hiw">How it works</button>
            </div>
        </div>
        <div class="header-main__picture">
            <div class="header-main__picture--block">
                <img src="../assets/icons/ic-substract.svg" alt="Star" class="icon-star icon-star--white">
                <img src="../assets/icons/ic-substract--red.svg" alt="Star" class="icon-star icon-star--red">
                <div class="cover-phone">
                    <img src="../assets/images/MobileMockup.png" alt="phone" class="pic-phone">
                </div>
            </div>
        </div>
      </div>
    </div>
