<header class="header-main">
    <div class="container">
      <!-- Start of header-top -->
      <div class="header-main__top">
        <img src="../assets/icons/ic-television.svg" alt="television" class="logo">
        <a class="header-main__logo"><strong>Landing</strong>Page</a>
        <div class="menu">
            <div class="menu__contact">
                <a href="#" class="contact__item">
                    Contact
                </a>
            </div>
            <button class="button__htw">
                <a href="#">How it works</a>
            </button>
            <button class="getst">
                <a href="#">Get Started <img src="../assets/icons/ic-arrow-right.svg" alt="arrowright"class="arrowright"></a>
            </button>
        </div>
      </div>
    </div>
  </header>