<main>
    <!-- Features section -->
    <section class="features">
    
         <!-- Start feature__content block -->
         <div class="features__content">
                <!-- Start feature__content__main-content -->
                <div class="features__content-main-content">
                       <h2 class="features__content-main-content-first--title">Our features</h2>
                       <p>Few good reasons why you should use Anima Landing Page Ui Kit to make your own pages.
                    </p>
                </div>
                <!-- End feature__content__main-content -->
                <!-- Start feature__content__button -->
                <div class="features__content-button">
                    <button class="features-button">
                        <img src="../assets/icons/ic-flyingSaucer.svg" alt="fly" class="feature-icon">
                        <p class="features-button__content">Fast buildding</p>
                    </button>
                    
                    <button class="features-button">
                        <img src="../assets/icons/ic-magic-wand.svg" alt="macgic-wand" class="feature-icon">
                        <p class="features-button__content">Easy to edit</p>
                    </button>
                    
                    <button class="features-button">
                        <img src="../assets/icons/ic-bounding-box.svg" alt="bounding-box" class="feature-icon">
                        <p class="features-button__content">Responsiveness</p>
                    </button>
                    
                    <button class="features-button">
                        <img src="../assets/icons/ic-package.svg" alt="package" class="feature-icon">
                        <p class="features-button__content">No code needed</p>
                    </button>
                </div>
         </div>
         <!-- End feature__content block -->
          <!-- Start picture block -->
          <div class="features__picture">
            <!-- Circle before the smart phone -->
         <div class="features__picture--circle"></div>
         <!-- Smart phone -->
         <img src="../assets/images/MobileMockup.png" alt="phone" class="features__picture-smartphone">
         <!-- Red star -->
         <img src="../assets/icons/ic-substract--red.svg" alt="star" class="features__picture-star--red">
         <!-- White star -->
         <img src="../assets/icons/ic-substract.svg" alt="star" class="features__picture-star--white">
  </div>
  <!-- End picture block -->
    </section>
    <!-- End of Features section -->

</main>